@font-face {
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Herr Von Muellerhoff';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    color: #cccccc;
    line-height: 1.4;
    src:url("/resources/css/HerrVonMuellerhoff-Regular.ttf");
}
/*----------------------------------foter----------------------------------*/
.site-footer {
    padding:2em 0;
    text-align:center;
    background-color:#333;
    color:#999;
}
.site-footer a {
    text-decoration:none;
    color: #999;
}
/*----------------------------------foter----------------------------------*/

body {
    margin: 0;
}

a {
    color: #4fc31f;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    text-decoration: none;
}
/*네비게이션*/
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    height: 100px;
    background: #F8F8FF;
    box-shadow: 2px -2px 5px 0px black;
    font-family: 'MYYeongnamnu';
}
#logo {
    position: absolute;
    font-size: 40px;
    font-weight: 500;
    left: 150px;
    color: #222222;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: none;
    top: 30px;
}
#logo a {
    color: #222222;
}

.sidenav {
    background-color: #F5F5F5;
    list-style: none;
    margin: 100px 0 80px 50px;
    width: 180px;
    height: 1000px;
}

.sideitem {
    margin-bottom: -10px;
    margin-left: -20px;
    padding-top: 20px;
}

.date {
    color: deepskyblue;
    font-size: 18px;
}

.item {
    margin-bottom: -10px;
    margin-left: -20px;
}

.menu {
    font-size: 20px;
    color: #4fc31f;
    margin-right: 30px;
    margin-left: 30px;
}
.navDiary {
    list-style: none;
    line-height: 40px;
    font-size: 20px;
}
.navDiary li:hover {
    cursor: pointer;
    margin-top: 10px;
    color: #D65BC1;
}
.logout {
    margin-right: 150px;
}

.accdetail {
    top: 200px;
    left: 250px;
    /* width: auto; */
    /* height: auto; */
    position: absolute;
    height : auto;
    min-height: 100%;
}

.acctable {
    width: 1600px;
    border-collapse: collapse;
}

.total {
    font-family: 'MYYeongnamnu';
}

.tr-first {
    text-align: left;
    border: 1px solid antiquewhite;
    border-left: none;
    border-right: none;
    height: 40px;
    font-size: 18px;
    background: azure;
    font-family: 'MYYeongnamnu';
}

.tr-second-1 {
    text-align: left;
    border: 1px solid antiquewhite;
    border-left: none;
    border-right: none;
    height: 30px;
    font-size: 15px;
}

.tr-second-2 {
    text-align: left;
    border: 1px solid antiquewhite;
    border-left: none;
    border-right: none;
    height: 30px;
    font-size: 15px;
    background: azure;
}

#createacc {
    position: absolute;
    left: 1550px;
    top: 28px;
    width: 50px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid silver;
    background: lightgreen;
    opacity: 0.8;
    cursor: pointer;
}
/*로그인*/
.login {
    position: absolute;
    right: 100px;
    list-style:none;
}
/*여기부터 글쓰기 모달*/
.modal {
    z-index: 1;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 460px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.27), 0 2px 8px rgba(0, 0, 0, 0.7);
}

#jsCloseBtn {
    background-color: deepskyblue;
    border: none;
    position: absolute;
    top: 420px;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    text-align: center;
    font-family: 'MYYeongnamnu';
    font-size: 19px;
    color: white;
    cursor: pointer;
    margin-left: 70px;
}
.modal__okBtn {
    background-color: #ece6cc;
    border: none;
    position: absolute;
    top: 420px;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    text-align: center;
    font-family: 'MYYeongnamnu';
    font-size: 19px;
    color: white;
    cursor: pointer;
    margin-left: 70px;
}
#jsinsertBtn {
    background-color: whitesmoke;
    border: none;
    position: absolute;
    top: 420px;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    text-align: center;
    font-family: 'MYYeongnamnu';
    font-size: 19px;
    color: black;
    cursor: pointer;
}
#modal_btns {
    margin-left: 185px;
}
.modal__okBtn {
    margin-left: 215px;
}
.hidden {
    display: none;
}
.modal_inputbox {
    width: 330px;
    height: 40px;
    margin: 20px 0px 0px 0px;
    border-radius: 8px;
    border: 1px solid powderblue;
}
.cont_textarea {
    height: 150px;
}
#modal_inputboxid {
    text-align: center;
    margin-top: 100px;
    margin-left: 40px;
}
.modal_list {
    list-style: none;
    font-size: 18px;
    font-family: 'MYYeongnamnu';
    position: absolute;
    top: 108px;
    color: hotpink;
}
.input_list {
    margin-top: 39px;
}
.modal_title {
    position: absolute;
    line-height: 4;
    font-size: 25px;
    margin-left: 215px;
    color: limegreen;
    font-family: 'MYYeongnamnu';
}
#dateBox {
    width: 48px;
}
.modify-btn {
    margin-left: 70px;
    color: red;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'MYYeongnamnu';
    font-size: 18px;
}
.delete-btn {
    color: purple;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'MYYeongnamnu';
    font-size: 18px;
}

.category_Amount {
    position: absolute;
    margin-top: 50px;
    font-size: 25px;
    width: 1600px;
    height: auto;
    font-family: 'MYYeongnamnu';
}

/*다이어리*/
.diaryBackImg {
    width: 1500px;
    min-height: 1000px;
    background: #F0F8FF;
    margin: 0 auto;
    text-align: center;
    opacity: 0.7;
}

.box_right {
    margin-right: 50px;
}

.box_on {

}

.test {
    margin-top: 70px;
    width: 300px;
    height: 400px;
    display: inline-block;
    background-image: url("/resources/images/다이어리2.PNG");
}

.diary_box {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-family: "MYYeongnamnu";
    color: coral;
}

.diary_box_title {
    margin-top: 100px;
}

.diary_box_account {
    margin-top: 160px;
}

.secretBtn {
    position: absolute;
    margin-top: 52px;
    right: 100px;
}

.secretWriting {
    position: absolute;
    right: 65px;
    font-size: 13px;
    margin-top: 50px;
    font-family: 'MYYeongnamnu';
    color: gray;
}
/*다이어리 끝*/

/*===================index===================*/
.site-content {
    overflow: hidden;
    width: 1200px;
    min-height: 280px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
.two-thirds {
    width: 66.7%;
    margin-bottom: 0px;
    float: left;
    padding: 0px 15px;
    font-family: inherit;
    vertical-align: baseline;
}
.entry-title a:hover {
    color: #ccc !important;
}
.entry-title a {
    color: #222222;
}
.bloggrid {
    position: relative;
    height: 1134.8px;
}
.entry-meta {
    font-size: 14px;
}
.entry-summary {
    font-size: 15px;
}
.entry-footer {
    font-size: 14px;
}
/*===================index===================*/